<div id="homeContainer" fxFlex fxLayout="column">
  <div id="mainContainer" fxLayout="column">
    <div id="introContainer" fxLayout="column">
      <div class="route-container" fxLayout="row">
        <mat-icon>book</mat-icon>
        <a class="small-a">angular</a>
        <span class="bar">/</span>
        <a class="large-a">repository</a>
        <span class="bar">/</span>
        <input [(ngModel)]="searchTerm" (keyup)="searchChanged($event)" #myInput>
        {{ myInput.focus() }}
      </div>
    </div>
    <div id="projectContainer" fxFlex>
      <div fxFlex="100" class="table-container">
        <mat-list>
          <mat-list-item style="background: #f1f8ff !important;">
            <div class="content" fxLayout="row" fxFlex>
              <img src="assets/logo/images.png"/>
              <a class="large-a">User</a>
              <a class="small-a">chore: update to 10.0.0-beta.32 with changelog (#1272)</a>
              <span fxFlex></span>
              <p>7e7912c</p>
              <p>on 17 Jun</p>
              <div fxLayout="row">
                <mat-icon>settings_backup_restore</mat-icon>
                <div class="info" fxLayout="row">
                  <p class="num">7</p>
                  <p class="text">commits</p>
                </div>
              </div>
            </div>
          </mat-list-item>
          <mat-list-item *ngFor="let item of finalisedListItems; let i = index" [ngClass]="{'active' : item['name'] === selectedItem['name']}" #indexed{{i}}>
            <mat-icon class="arrow-right" *ngIf="item['name'] === selectedItem['name']">keyboard_arrow_right</mat-icon>
              <span fxFlex="25" fxLayout="row">
                <mat-icon style="color: #79b8ff!important;">folder</mat-icon>
                <p>{{item['name']}}</p>
              </span>
            <p fxFlex="60">{{item['desc']}}</p>
            <p fxFlex="15">{{item['time']}}</p>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
