<div id="homeContainer" fxFlex fxLayout="column">
  <mat-toolbar fxLayout="row">
    <span class="logo cursor-pointer" (click)="showSearchContainer = false">
      <img src="assets/logo/images.png"/>
    </span>
    <h3 class="cursor-pointer">
      Why GitHub?
      <mat-icon>keyboard_arrow_down</mat-icon>
    </h3>
    <h3 class="cursor-pointer">Team</h3>
    <h3 class="cursor-pointer">Enterpise</h3>
    <h3 class="cursor-pointer">
      Explore
      <mat-icon>keyboard_arrow_down</mat-icon>
    </h3>
    <h3>Marketplace</h3>
    <h3 class="cursor-pointer">
      Pricing
      <mat-icon>keyboard_arrow_down</mat-icon>
    </h3>
    <span fxFlex></span>
    <h3 class="cursor-pointer">
      Log In
    </h3>
    <h3 class="border-button cursor-pointer">
      Sign In
    </h3>
  </mat-toolbar>

  <div *ngIf="!showSearchContainer">
    <div id="mainContainer" fxLayout="column">
      <div id="introContainer" fxLayout="column">
        <div class="route-container" fxLayout="row">
          <mat-icon>book</mat-icon>
          <a class="small-a">angular</a>
          <span class="bar">/</span>
          <a class="large-a">repository</a>
        </div>
        <div class="tabs-container">
          <mat-tab-group>
            <mat-tab *ngFor="let tab of myTabs" [label]="tab['label']" [disabled]="tab['disabled']"></mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <div class="titleContainer">
        <div class="prompt">
          <p class="dismiss">Dismiss</p>
          <div class="title-content">
            <h3>{{'Join GitHub today'}}</h3>
            <p>{{'GitHub is home to over 50 million developers working together to host and review code, manage projects, and build software together.'}}</p>
          </div>
          <button mat-raised-button color="primary" class="sign-up-button-prompt">Sign Up</button>
        </div>
      </div>
      <div id="projectContainer" fxFlex>
        <div fxFlex="75">
          <div id="projectDetails" fxLayout="row">
            <button mat-raised-button color="primary" class="project-button">
              master
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <div class="info" fxLayout="row">
              <p class="num">7</p>
              <p class="text">branches</p>
            </div>
            <div class="info" fxLayout="row">
              <p class="num">182</p>
              <p class="text">tags</p>
            </div>
            <span fxFlex></span>
            <button mat-raised-button color="primary" class="project-button" (click)="onClickSearch()">
              Go to file
            </button>
            <button mat-raised-button color="primary" class="project-button" style="background-color: #2ea44f;color: white">
              code
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
          <mat-list class="table-container">
            <mat-list-item style="background: #f1f8ff !important;">
              <div class="content" fxLayout="row" fxFlex>
                <img src="assets/logo/images.png"/>
                <a class="large-a">User</a>
                <a class="small-a">chore: update to 10.0.0-beta.32 with changelog (#1272)</a>
                <span fxFlex></span>
                <p>7e7912c</p>
                <p>on 17 Jun</p>
                <div fxLayout="row">
                  <mat-icon>settings_backup_restore</mat-icon>
                  <div class="info" fxLayout="row">
                    <p class="num">7</p>
                    <p class="text">commits</p>
                  </div>
                </div>
              </div>
            </mat-list-item>
            <mat-list-item *ngFor="let item of listItems">
            <span fxFlex="25" fxLayout="row">
              <mat-icon style="color: #79b8ff!important;">folder</mat-icon>
              <p>{{item['name']}}</p>
            </span>
              <p fxFlex="60">{{item['desc']}}</p>
              <p fxFlex="15">{{item['time']}}</p>
            </mat-list-item>
          </mat-list>
        </div>
        <div fxFlex="25" id="artifact-container">
          <div class="artifact" *ngFor="let arti of artifacts">
            <h3>{{arti['title']}}</h3>
            <p>{{arti['desc']}}</p>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>

      <div id="descriptionContainer">
        <div class="table-container">
          <h3>README.md</h3>
          <div class="description">
            <h3>Github Repository</h3>
            <mat-divider></mat-divider>
            <p>
              Angular Flex Layout provides a sophisticated layout API using Flexbox CSS + mediaQuery. This module provides Angular developers with component layout features using a custom Layout API, mediaQuery observables, and injected DOM flexbox-2016 CSS stylings.<br/>
              <br/>
              <br/>
              The Flex Layout engine intelligently automates the process of applying appropriate Flexbox CSS to browser view hierarchies. This automation also addresses many of the complexities and workarounds encountered with the traditional, manual, CSS-only application of box CSS.<br/>
              <br/>
              <br/>
              The real power of Flex Layout, however, is its responsive engine. The Responsive API enables developers to easily specify different layouts, sizing, visibilities for different viewport sizes and display devices.<br/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showSearchContainer">
    <search-component></search-component>
  </div>

</div>
