#homeContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow : hidden;

  img{
    height: 30px;
    width: 30px;
  }

  ::ng-deep .mat-toolbar .mat-primary{
    background: #24292e !important;
  }
  mat-toolbar {
    position: fixed;
    z-index: 9;
    height: 75px !important;
    padding: 0 3%;
    .logo {
      margin: 0 2%;
    }
    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin-top: 8px;
    }

    h3 {
      font-size: 14px !important;
      margin: 0 1%;
      font-weight: 400;
      color: white;

      mat-icon {
        font-size: 19px;
        top: 4px;
        left: -4px;
        position: relative;
      }
    }
    .border-button {
      border: 1px solid;
      padding: 0px 15px;
      border-radius: 7px;
    }
  }

  #mainContainer {
    position: absolute;
    top: 75px;
    overflow: auto;
    height: calc(100% - 75px);
    bottom: 0;
    right: 0;
    left: 0;

    .small-a {
      padding: 0 4px 0 11px;
      font-size: 18px;
    }
    .large-a {
      margin-top: -2px;
      padding: 0 4px;
      font-size: 20px;
      font-weight : 600;
    }

    #descriptionContainer {
      display: block;
      margin: 1% 5%;
      .table-container {
        border: 1px solid rgba(27, 31, 35, .15);
        border-radius: 6px !important;
        padding: 1% 3%;
        h3 {
          font-size: 14px;
          font-weight: 400;
        }
        .description {
          h3{
            padding: 1% 3%;
            font-size: 21px;
            font-weight: 600;
          }
          p {
            font-size: 14px;
            font-weight: 400;
            padding: 1% 3%;
          }
        }
      }
    }

    #introContainer {
      height: 125px;
      background: #fafbfc!important;

      .route-container {
        margin: 2%;
        a {
          color: #0366d6 !important;
        }
        .bar {
          font-size: 22px;
          padding: 0 3px;
        }
        input:focus,
        select:focus,
        textarea:focus,
        button:focus {
          outline: none;
        }
        input{
          border: none;
          background: transparent;
        }
      }

      ::ng-deep {
        .mat-tab-label {
          min-width: 100px !important;
        }

        .mat-tab-label-content {
          font-size: 14px !important;
          font-weight: 400 !important;
          color: black !important;
        }

        .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
          background: orange;
        }

        .mat-tab-group {
          position: relative;
          top: -7px;
        }
      }
    }

    #projectContainer {
      display: block;
      margin: 1% 5%;
      mat-list {
        padding : 0 !important;
      }
      .arrow-right{
        position: absolute;
        font-size: 19px;
        margin-top: 4px !important;
        left: 0;
      }
      .table-container {
        border: 1px solid rgba(27,31,35,.15);
        border-radius: 6px !important;
        mat-list {
          padding : 0 !important;
        }

        //::ng-deep .mat-list-item-content {
        //  justify-content: space-between !important;
        //}

        mat-list-item {
          border-bottom: 1px solid #c8e1ff;
          p {
            font-size: 14px;
            padding: 0 1%;
            margin-top: 17px;
          }
          mat-icon {
            margin-top: 12px;
          }

          :last-child {
            border-bottom: none;
          }

          .content {
            display: contents !important;

            .small-a {
              padding: 3px 4px 0 11px !important;
              font-size: 15px !important;
            }

            .large-a {
              font-size: 17px !important;
              margin-top: 2px !important;
            }
            p {
              font-size: 14px;
              padding: 0 1%;
              margin-top: 17px;
            }
            mat-icon {
              margin-top: 16px;
            }
            .info {
              padding: 0 1%;
              position: relative;
              .num {
                font-weight: 600;
                font-size: 15px;
                line-height: 23px;
              }
              .text {
                font-size: 14px;
                font-weight: 400;
                padding: 5%;
                color: gray;
              }
            }
          }
        }
      }

      #artifact-container {
        .artifact {
          padding: 1% 6%;
          text-align: center;
        }
      }

    }

    #projectDetails {
      margin: 1% 0;
      height: 37px;
      .project-button {
        font-weight: 400;
        margin: 0 1%;
        width: 125px;
        background-color: #fafbfc;
        color: black;
        border-color: rgba(27,31,35,.15);
        box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
        mat-icon {
          font-size: 19px;
          top: 2px;
          position: relative;
        }
      }
      .info {
        padding: 0 1%;
        top: -6px;
        position: relative;
        .num {
          font-weight: 600;
          padding: 0 5%;
        }
        .text {
          font-size: 14px;
          font-weight: 400;
          padding: 5%;
          color: gray;
        }
      }

    }

    .titleContainer {
      display: block;
      margin: 1% 5%;
      background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 50%,#fff),linear-gradient(70deg,#eaf5ff 32%,#f6fff8);
      .prompt{
        border: 1px solid rgba(27,31,35,.15);
        text-align: center;
        border-radius: 6px !important;
        background-image: url("https://github.githubassets.com/images/modules/site/site-signup-prompt.png");
        padding: 3%;
        background-repeat: no-repeat;
        background-position: center 30%;
        background-size: 100% auto;
      }
      .dismiss {
        position: relative;
        float: right;
        font-size: 14px;
        top: -33px;
      }
      .sign-up-button-prompt {
        color: #fff;
        background-color: #2ea44f;
        border-color: rgba(27,31,35,.15);
        box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
      }
      .title-content {
        h3 {
          font-size: 20px;
          font-weight: 600;
        }
        p {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}
